* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(242, 240, 240);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.distrib {
    height: 90%;
    width: 40%;
    background-color: darkslategrey;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.haut {
    width: 85%;
    height: 65%;

    display: flex;
    justify-content: space-between;
}

.boissons {
    width: 65%;
    height: 100%;
    border-radius: 0.75rem;
    position : relative;
   
    box-shadow:inset 0px 0px 0px 10px lightgrey;

    
    background-color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boissons div {
    width: 24%;
    height: 25%;
    position: relative;
}

.boissons div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.boissons .qtt {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top : -0.25rem;
    right: 0.5rem;
    background-color: darkblue;
    color : lightcyan;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boissons .number {
    height: 1rem;
    width: 100%;
    position: absolute;
    bottom : 0;
    left: 0;
    background-color: lightgrey;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commande {
    width: 30%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap : 0.75rem;
}

.screen {
    width: 90%;
    height: 25%;
    background-color: darkblue;
    box-shadow: inset 0 0 1.5rem rgb(1, 1, 65);

    color : lightcyan;
    font-size: medium;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
}
.screen p{
    margin-bottom: 1rem;
}

.buttons {
    width: 90%;
    height: 40%;
    background-color: lightgrey;
    border-radius: 0.75rem;
    box-shadow: rgb(26, 44, 44) 3px 3px 4px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.buttons button {
    width: 27%;
    height: 18%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}




.bas {
    width: 85%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bonk {
    width: 40%;
    height: 90%;
    background-color: darkslategrey;
    border-radius: 0.75rem;
    box-shadow: inset 0 0 2rem black;
}

.bonk img {
    height: 100%;
    object-fit: cover;
}