* {
    margin: 0;
    padding: 0;
    
}

body {
 width: 100%;
 height: 100vh;
 background-color: whitesmoke;
}

section.ville-section {
    width: 100%;
    height: 90%;
    
    
}


/* nav */
.nav-barre {
    width: 100%;
    height: 8%;
    background-color: hwb(0 0% 100%);

    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0rem 0.2rem 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;;
    font-size: 1.8rem;

    .contenu-nav{
      display: flex;
      height: 100%;
      width: 100%;

      h1{
        /* background-color: aqua; */
        width: 100%;
        margin-left: 50px;
      }
    }
  }    
  
  /* selecteur */
  .continent {
      width: 100%;
      display: flex;
      justify-content: end;
      margin-right: 50px;
      align-items: center;
      font-size: 16px; /* Choisissez la taille de police appropriée */
      /* background-color: rgb(224, 26, 26); */
    }
    
    /* Style du label */
    .continent label {
      margin-right: 10px; /* Espacement entre le label et le sélecteur */
    }
    
    /* Style du sélecteur */
    .continent select {
      padding: 8px; /* Espacement à l'intérieur du sélecteur */
      border-radius: 5px; /* Coins arrondis */
      border: 1px solid #ccc; /* Bordure grise */
      font-size: 16px; /* Taille de police */
      cursor: pointer; /* Curseur pointeur */
    }
    
    /* Style des options du sélecteur */
    .continent select option {
      font-size: 16px; /* Taille de police */
    }


/* nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

} */    



/* cities-container */
.espace{
  width: 100%;
  display: flex;
  justify-content: center; 
  height: 100%;
  overflow-y: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/paysage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.cards-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  height: 100%;
  /* background-repeat: no-repeat; */
  background-size: cover; 
  background-position: center; 
}  


.ville{
    width: 50%;
    height: 100%;
}    


.card {
    
    height: 45%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    background-color: hsla(0, 0%, 100%, 0.52);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    img {
        width: 90%;
        border-radius: 4px;
        cursor: pointer;
        
    }    
    
    h2 {}
    
    h2 {}
    
    p{}
}    



/* footer */
.footer-section {
    width: 100%;
    height: 2%;

    display: flex;
    justify-content: center;
    background-color: hwb(0 0% 100%);
}








.large-map-container {
  display: none; /* Initialement caché */
  position: fixed;
  top: 50%; /* Position verticale au milieu de l'écran */
  left: 50%; /* Position horizontale au milieu de l'écran */
  transform: translate(-50%, -50%); /* Centrage parfait */
  width: 80%; /* Largeur de la grande div */
  max-width: 800px; /* Largeur maximale */
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  overflow: auto;
  padding: 20px;
  color: white;
}

.large-map-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.large-map-container p {
  font-size: 16px;
  margin-bottom: 8px;
}

.large-map-container img {
  margin-top: 10px;
  max-width: 100%;
}

.large-map-container button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}